body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 512px;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.grid {
    border-style: solid;
    border-width: 1px;
    width: 30px;
    height: 30px;
}

.grid:hover {
    background-color: red;
}

.sketch {
    background-color: black;
}
