body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

h1 {
    text-align: center;
}

#container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 704px;
    height: 704px;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-style: solid;
    border-width: 5px;
    -user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.smallGrid {
    width: 44px;
    height: 44px;
}

.mediumGrid {
    width: 22px;
    height: 22px;
}

.bigGrid {
    width: 11px;
    height: 11px;
}

.smallGrid:hover,
.mediumGrid:hover,
.bigGrid:hover {
    background-color: red;
}

.sketch {
    background-color: black;
}

button {
    appearance: none;
    background-color: transparent;
    border: 3px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
}


button:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px); 
}

